* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    18deg,
    rgba(251, 253, 255, 1) 1%,
    rgba(250, 252, 254, 1) 100%
  );
}

.container {
  padding: 0.25rem;
}

/* ///Media Queries/// */

/* small devices */

@media (min-width: 370px) {
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }
  .container {
    padding: 0.5 rem;
    margin: 0 auto;
  }

  .svg-icon {
    width: 48px;
    height: auto;
    padding: 1rem;
  }
}

@media (min-width: 576px) {
  h4,
  h5,
  h6 {
    font-size: 1.2rem;
  }

  .container {
    padding: 1rem;
    margin: 0 auto;
  }

  .svg-icon {
    width: 48px;
    height: auto;
    padding: 1rem;
  }
}

/* medium devices */
@media (min-width: 768px) {
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }

  .container {
    padding: 0.25rem;
    margin: 0 auto;
  }

  .svg-icon {
    width: 64px;
    height: auto;
    padding: 1rem;
  }
}

/* large devices */
@media (min-width: 950px) {
  h4,
  h5,
  h6 {
    font-size: 1.5rem;
  }

  .container {
    padding: 1rem;
    margin: 0 auto;
  }

  .svg-icon {
    width: 64px;
    height: auto;
    padding: 1rem;
  }
}

/* extra large devices */
@media (min-width: 1200px) {
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  .container {
    padding: 1rem;
    margin: 0 auto;
  }

  .svg-icon {
    width: 64px;
    height: auto;
    padding: 1rem;
  }
}

/* Carousel  */

/* Images */
.carousel-inner {
  height: auto;
  min-height: 15vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Caption container */

.carousel-item {
  position: relative;
}
.carousel-caption {
  position: absolute;
  width: 400px;
  height: auto;
  top: 50px;
  left: 50px;
  right: -50px;
  bottom: auto;
  padding: 4rem;
  background-color: #434343e1;
  box-shadow: 0px 2px 15px 15px rgba(0, 0, 0, 0.144);
  border-radius: 1rem;
  margin: 1rem;
}

/* Forms */
.form-select {
  padding: 1rem;
}

/* Links */

/* .navbar-link :active {
  border-bottom: 5px solid #53b175;
  padding: 1rem;
}

.navbar-link:hover {
  border-bottom: 5px solid #53b175;
} */

a {
  color: #53b175;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  transition: all 250ms ease-in;
  transform: scale(1);
}

a:hover,
a:focus {
  color: #53b175;
  font-weight: 600;
  transition: all 250ms ease-out;
  transform: scale(1.2);
}

/* Breadcrumb */
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #53b175;
  padding: 0 5px;
  margin: 0 5px;
  border: 1px solid red;
}

.breadcrumb-item {
  color: #829187;
}

.breadcrumb-item:hover {
  color: #53b175;
}

/* icons */

.icons {
  padding: 16px;
  background-color: white;
  box-shadow: 0px 2px 25px -14px rgba(0, 0, 0, 0.65);
  border-radius: 0.5rem;
}

/* Texts */

.text-success {
  color: #53b175;
}

.text-normal {
  color: #829187;
}

.text-paid {
  color: #1bc279;
}

.fw-bold {
  color: #05220e;
}

.fw-regular {
  color: #829187;
}

/* UI-Faces */

.ui_faces_small {
  border-radius: 50%;
  width: 48px;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.ui_faces_big {
  border-radius: 5%;
  width: 128px;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/* Horizontal lines */

.lines {
  color: rgba(0, 0, 0, 0.308);
}

/*** Vertically Scrollable bar for product page ***/

.scroll {
  margin: 0 auto;
  padding: 2rem;
  width: auto;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* text-align: start; */
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.061);
  border-radius: 0.25em;
}

/* width */
.scroll::-webkit-scrollbar {
  width: 1.25rem;
  padding: 0.5rem;
  background-color: white;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 4px rgba(212, 212, 212, 0.177);
  border-radius: 10px;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #53b175;
  border: 1px solid #53b175;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.144);
}

/* Handle on hover */

/* ::-webkit-scrollbar-thumb:hover {
  background: #53b175;
} */

/* Horizontal srcollable Containers */
.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.25rem;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

/*//// Cards ////*/

.card {
  border-radius: 16px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
  transition: all ease-in 200ms;
  flex: 0 0 auto;
  transform: scale(0.9);
}

.card:hover {
  transform: scale(1);
  transition: all ease-out 250ms;
  box-shadow: 1px 8px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 2px solid #53b175;
}

.card-img {
  width: 100%;
  height: 7rem;
  object-fit: cover;
}

li {
  display: inline-block;
}

/* Paginataion */

.list-group-item {
  border-radius: 50% !important;
  fill: #fff;
  border-color: #53b175;
  border-radius: 2rem;
  margin: 5px;
  padding: auto;
  cursor: pointer;
  text-shadow: black;
}

.bg_info {
  background-color: #53b175;
  font-weight: bold;
  border-color: #53b175;
  border-radius: 2rem;
}

.list-group-item:hover {
  background: #65c287;
  color: rgb(255, 255, 255);
}

.fa {
  font-size: 18px;
  font-weight: 600;
}

/* Jumbotron */

.jumbotron {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.85rem;
}

/* Box-container */
.box-container {
  background-color: white;
  padding: 2rem;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.061);
  border-radius: 0.75rem;
}

/* Product Image */

.product-image {
  background-image: url(images/items/orange.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 150px;
  min-height: 150px;
  image-rendering: -webkit-optimize-contrast;
}

/* Profile Background Image */
.profile_background_image {
  background-image: url(images/landscape.jpg);
  object-fit: none;
  object-position: center top;
  width: auto;
  height: 300px;
}

/* Primary Button */

.btn,
.btn-lg {
  color: white;
  background-color: #53b175;
  font-weight: 600;
  border: none;
  padding: 1em;
  transition: all 500ms ease-in;
  transform: scale(0.8);
}

.btn:hover,
.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
  color: #65c287;
  border: 2px solid #65c287;
  padding: 1em;
  background-color: white;
  transition: all 500ms ease-out;
  transform: scale(1);
}

/* Secondary Button */

.btn-secondary {
  background-color: white;
  color: #000;
  border: 2px solid #53b175;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;
  padding: 0.85rem 0.75rem;
  letter-spacing: 1px;
}

.btn-secondary:hover {
  border: 1px solid #53b175;
  background-color: #53b175;
  color: white;
  font-weight: bold;
  transition: 800ms;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.144);
}

/* Popover Button */

.btn-popover {
  padding: 1rem auto;
  border: none;
  background-color: white;
  border-radius: 0.25rem;
}

/* Various other buttons */

.btn-paid {
  background-color: #f9f9f9;
  padding: 0.75rem 2rem;
  color: #1bc279;
  font-weight: bold;
  border: 1px solid #1bc279;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0ox 2px 15px rgba(0, 0, 0, 0.061);
}

.btn-pending {
  background-color: #f9f9f9;
  padding: 0.75rem 2rem;
  color: #ffb240;
  font-weight: bold;
  border: 1px solid #ffb240;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-return {
  background-color: #f9f9f9;
  padding: 0.75em 2em;
  color: #ff6363;
  font-weight: bold;
  border: 1px solid #ff6363;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-Info {
  background-color: #f9f9f9;
  padding: 0.75em 2em;
  color: #1b90c2;
  font-weight: bold;
  border: 1px solid #1b90c2;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-default {
  background-color: #ffffff;
  padding: 0.75rem 2rem;
  color: #53b175;
  font-weight: bold;
  border: 3px solid #53b175;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Footer */

.footer-panel {
  background-color: #05220e;
  color: #ffffff !important;
  padding: 1rem;
}
